<!DOCTYPE html>
<!--

  _                    _  _                 _         _
 | |                  | |(_)               | |       | |
 | | __ ___   _ __  __| | _  _ __    __ _  | |  __ _ | |__
 | |/ // _ \ | '__|/ _` || || '_ \  / _` | | | / _` || '_ \
 |   <| (_) || |  | (_| || || | | || (_| | | || (_| || |_) |
 |_|\_\\___/ |_|   \__,_||_||_| |_| \__, | |_| \__,_||_.__/
                                     __/ |
                                    |___/


I love those that desire the impossible - Goethe.
(if you get email from Konrad, you will see this quote)

                boing         boing         boing
      e-e           . - .         . - .         . - .
     (\_/)\       '       `.   ,'       `.   ,'       .
      `-'\ `--.___,         . .           . .          .
         '\( ,_.-'
            \\               "             "            a:f
            ^'

^ This is basically T-Rex jumping

-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Security Headers -->
  <meta http-equiv="X-Content-Type-Options" content="nosniff">
  <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
  <meta http-equiv="X-XSS-Protection" content="1; mode=block">
  <meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin">
  
  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy" content="
    default-src 'self' https:;
    script-src 'self' 'unsafe-inline' 'unsafe-eval' 
      https://cdn.jsdelivr.net 
      https://code.jquery.com 
      https://www.googletagmanager.com 
      https://www.google-analytics.com 
      https://platform.twitter.com 
      https://kordinglab.disqus.com 
      https://*.disqus.com 
      https://*.disquscdn.com;
    style-src 'self' 'unsafe-inline' 
      https://cdn.jsdelivr.net 
      https://fonts.googleapis.com 
      https://cdnjs.cloudflare.com;
    font-src 'self' data: 
      https://fonts.gstatic.com 
      https://cdnjs.cloudflare.com;
    img-src 'self' data: https: http:;
    frame-src https://disqus.com https://*.disqus.com https://platform.twitter.com;
    connect-src 'self' https:;
  ">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" integrity="sha256-UnTxHm+zKuDPLfufgEMnKGXDl6fEIjtM+n1Q6lL73ok=" crossorigin="anonymous"></script>
  <link href="{{ site.url }}/css/zoom.css" rel="stylesheet">
  <script src="{{ site.url }}/js/zoom.js"></script>
  <script src="{{ site.url }}/js/transition.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
  <link rel="shortcut icon" href="{{ site.url }}/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/logo/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/logo/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/logo/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/logo/apple-touch-icon-144x144-precomposed.png">

  <!-- open graph -->

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content }}{% endif %}{% endcapture %}
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}" />
  <meta property="og:image" content="{{ site.url }}/images/logo/logo_square.jpg">

</head>

<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//kordinglab.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<body id="page-top" style="padding-top: 7em;">

    {% include navbar.html %}
    {{ content }}

    <script id="dsq-count-scr" src="https://kordinglab.disqus.com/count.js" async></script>
    <!-- jQuery already loaded in head -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Legacy Google Analytics removed - using gtag.js below -->

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34145995-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-34145995-1');
    </script>

</body>
</html>
